@using Microsoft.AspNetCore.Identity
@model Webshop.Models.CartViewModel
@{
    ViewData["Title"] = "Cart";
    Model.userId = long.Parse(SignInManager.UserManager.GetUserId(User));
   
    }
  
    
}
@inject SignInManager<IdentityUser> SignInManager;

@{
    if (SignInManager.IsSignedIn(User))
    {

        foreach (var prod in Model.Products)
        {
            //Display model.ProductAmount instead of prod.Stock 
<div class="content">
    <div class="bb1">
        <h3><label asp-for="@prod.Name">@prod.Name</label></h3>
        <img src="~/images/can.jpg" width="50" /><br /> <!--@prod.Imagepath-->
        <p>@prod.Description</p><br />
        <p>@prod.Price</p><br />
        <p>@Model.ProductAmount</p>
    </div>
    <div class="btn-group">
    <button type="button" name="addProduct" onclick="location.href = '@Url.Action("ChangeAmount", "Cart")'"><img src="images/plus.png" /></button>
        <button type="button" name="addProduct" onclick="location.href = '@Url.Action("ChangeAmount", "Cart")'"><img src="images/subtract.png" /></button>
    </div><!--Probably the wrong Interaction here but at least it exists-->
</div>

        }
    }
}


<h2>Cart</h2>

<h3>@Model.AmountOfItems</h3>
<h4>@Model.TotalPrice</h4>
<button onclick="location.href = '@Url.Action("BuyCart","Cart")'"  name="form-btn cart">Buy</button>