@model Webshop.Models.ProductViewModel
@{
    ViewData["Title"] = "Products";


   

}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<hr />

<div class="overc">

    @{


        foreach (var data in Model.Products)
        {

            <div class="content">
                <div class="bb1">
                    <h3><label asp-for="Name">@data.Name</label></h3>
                    <img src="~/images/can.jpg" width="50"/><br /> <!--@data.Imagepath-->
                    <p>@data.Description</p><br />
                    <p>@data.Price</p><br />
                    <p>@data.Stock</p>
                </div>

            </div>
        }
    }
</div>
    <address>
        <strong>Support:</strong> <a href="mailto:Support@homebrew.com">Support@homebrew.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@homebrew.com">Marketing@homebrew.com</a>
    </address>
