@model Webshop.Models.ProductViewModel
@{
    ViewData["Title"] = "Products";


   

}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<hr />

<div class="overc">

    @{


        foreach (var data in Model.Products)
        {

            <div class="content">
                <div class="bb1">
                    <h3><label asp-for="Name">@data.Name</label></h3>
                    <img src="~/images/can.jpg" width="50" /><br /> <!--@data.Imagepath-->
                    <hr />
                    <p>@data.Description</p><br />

                    <p><label><b>Price:</b></label><i> @data.Price</i></p><br />
                    <p><label><b>Stock:</b></label><i> @data.Stock</i></p><br />

                    <input type="number" min="1" max="@data.Stock" placeholder="1" /><br />

                    <button >Buy</button>
                </div>

            </div>
        }
    }
</div>
    <address>
        <strong>Support:</strong> <a href="mailto:Support@homebrew.com">Support@homebrew.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@homebrew.com">Marketing@homebrew.com</a>
    </address>
