@model Webshop.Models.ProductViewModel
@{
    ViewData["Title"] = "Products";


   

}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
    @{
        

        foreach (var data in Model.Products)
        {
            <div class="content">
                <h3>@data.Name</h3>
                <img src="@data.Imagepath" />
                <p>@data.Description</p>
                <p>@data.Price</p>
                <p>@data.Stock</p>
            </div>
        }
    }

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
