@model Webshop.Models.ProductViewModel
@{
    ViewData["Title"] = "Products";


   

}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<hr />

<div class="overc">

    @{


        foreach (var data in Model.Products)
        {

            <div class="content">
                <div class="bb1">
                    <h3>@data.Name</h3>
                    <img src="~/images/can.jpg" width="50" /><br /> <!--@data.Imagepath-->
                    <hr class="hr2"/>
                    <div class="desc">
                    <i style="font-family:12px;">Desc:</i><p>@data.Description</p><br />
                        </div>
                    <p><label><b>Price:</b></label><i> @data.Price</i></p><br />
                    <p><label><b>Stock:</b></label><i> @data.Stock</i></p><br />

                   <input type="number" min="1" max="@data.Stock" placeholder="Enter Amount" /><br />

                    <button ônclick="location.href = '@Url.Action("AddProduct", "Cart")'">Buy</button>
                </div>

            </div>
        }
    }
</div>
    <address>
        <strong>Support:</strong> <a href="mailto:Support@homebrew.com">Support@homebrew.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@homebrew.com">Marketing@homebrew.com</a>
    </address>
